{% include 'general/base.html' %}

{% load static %}

<div class="row">
    <div class="col-md-7 slider">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{% static 'Slider1.png' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>
                            <a class="btn btn-primary" href="/shop">Get cooler Now</a>
                        </h5>
                        <p>Never let anyone know what is you next plan to look cool.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'Slider2.png' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>
                            <a class="btn btn-primary" href="/shop">Awesome Collection</a>
                        </h5>
                        <p>Looking awesome is a blessing for those, who want to left first impression on others.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'Slider3.png' %}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>
                            <a class="btn btn-primary" href="/shop">Checkout Brand</a>
                        </h5>
                        <p>Checkout all the fashion we have in our collection from different brands.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
    <div class="col-md-5 welcome-text text-light">
        <h1>Welcome Guest</h1>
        <span style="display: block;"><em>We look forward to make you feel cooler, smarter and confident!</em></span>
        <a class="btn btn-primary" href="/shop">Shop Now</a>
    </div>

</div>